<h3>
    <ul class="list-unstyled">
        {{#each burgers}}
        <li><button class='btn btn-xs btn-danger' id={{this.id}}>Devour it!</button> {{this.burger_name}} </li>
        {{/each}}
    </ul>
</h3>

